@import url(https://fonts.googleapis.com/css?family=Raleway|Julius+Sans+One);

body {
    background-color: #2b2b2b;
    color: #d1dede;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 4em;
    color: #ffffff;
}

h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.25em;
    color: #ffffff;
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.50em;
    color: #ffffff;
}

h4 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1em;
    color: #ffffff;
}

a {
    text-decoration:none;
    color: #d1dede;
}

li {
    display: inline;
    list-style-type: none;
}

li a:hover {
    background-color: transparent;
}

header.transparent {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100px;
}

nav.transparent , .navbar-default {
    margin: auto;
    max-width: 800px;
    padding:0px 25px 0px 25px;
    font-family: 'Julius Sans One', sans-serif;
    margin-top:40px;
    
    background-color: transparent;
    border: none;
    text-align:center;
    color: #d1dede;
}

header.solid {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 75px;
    background-color: #ffffff;
}

nav.solid {
    margin: auto;
    max-width: 800px;
    padding:0px 25px 0px 25px;
    font-family: 'Julius Sans One', sans-serif;
    margin-top:20px;
}

nav.solid a{
    color:#2b2b2b;
}

header.big {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

nav.big {
    margin: auto;
    max-width: 800px;
    padding:0px 25px 0px 25px;
    font-family: 'Julius Sans One', sans-serif;
    margin-top:30px;
}

header.small {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 75px;
    background-color: #ffffff;
}

nav.small {
    margin: auto;
    max-width: 800px;
    padding:0px 25px 0px 25px;
    font-family: 'Julius Sans One', sans-serif;
    margin-top:20px;
    font-size:1em;
}

nav.big a, nav.small a{
    color:#2b2b2b;
}

header, nav {
  transition: all 0.5s;
  -moz-transition: all 0.5s; 
  -webkit-transition: all 0.5s; 
  -o-transition: all 0.5s;
}

.links {
    margin:auto;
    text-align: center;
    color: #d1dede;
}

.links a {
    text-decoration: none;
    color:#d1dede;
    padding-left: 40px;
    padding-right: 40px;
}

.bannerBackground {
    background: url(images/header.jpg) no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    height: auto;
    text-align:center;
}

.banner {
    height: 650px;
    width: auto;
    position:relative;
    padding-top: 250px;
    margin: auto;
    text-align: center;
}

.banner h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 4em;
        color: #ffffff;
        border-bottom: solid #ffffff 2px;
        max-width:600px;
        margin:auto;
        text-align:center;
    }
    
.banner h3 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.50em;
        color: #ffffff;
    }  
    
/* RESPONSIVE BANNER */    
@media screen and (max-width: 800px) {
    .banner h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 2.5em;
        color: #ffffff;
        border-bottom: solid #ffffff 2px; 
        max-width: 200px;
        margin:auto;
    } 

    .banner h3 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.4em;
        color: #ffffff;
    }
    
    .banner {
    height: 500px;
    padding-top: 200px;
    }
}

#majorsBackground , #aboutBackground , #contactBackground  {
    margin-top: -75px;
    padding-top: 75px;
}

#majorsBackground {
    height: auto;
    margin:auto;
    padding-bottom: 150px;
}

.majors {
    text-align:center;
    max-width:800px;
    margin:auto;
    padding-bottom:25px;
}

.majors img{
    margin:auto;
    height:250px;
    width:250px;
}

.row1 , .row2 {
    display: inline-block;
    text-align:center;
    margin:auto;
}

#aboutBackground {
    background-color: #d1dede;
    height: auto;
}

.about {
    margin:auto;
    color:#2b2b2b;
    max-width:800px;
    padding-bottom: 150px;
}

.about h2 {
    float:left;
    color:#2b2b2b;
    width: 250px;
    height: 45px;
    text-align:center;
    border-bottom: solid #2b2b2b 2px;
}

.about p {
    float:left;
    text-align: left;
    width: 250px;
}

#contactBackground {
    background-color: #9db4bc;
    height: auto;
}

.contact {
    margin:auto;
    color:#ffffff;
    max-width:800px;
    padding-bottom:75px;
}

.details , .form {
    width: 250px;
}

.contact h2 {
    float:left;
    color:#ffffff;
    width: 250px;
    height: 45px;
    text-align:center;
    border-bottom: solid #ffffff 2px;
}

.form {
    margin-top:-25px;
    float: left;
}

#button {
    background-color:White;
    color: #2b2b2b;
    width:130px;
    text-align:center;
    cursor:pointer;
}

.footer {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 0.75em;
    color: #ffffff;
    margin:auto;
    text-align: center;
    height: 50px;
}

.footer p {
    padding-top: 13px;
}


/* MAJOR PAGE SPECIFIC CODING */
.images {
    max-width: 800px;
    margin:auto;
    height: 1100px;
    padding-top: 100px;
    text-align: center;
}

.image1 img , .image2 img , .image3 , .image4 img , .image5 img , .image6 img{
        margin: 5px 5px 5px 5px;
}

.image1 img {
    float:left;
    width: 175px;
    height: 175px;
}

.image2 img {
    float:left;
    width: 175px;
    height: 175px;
    margin-right: 500px;
}

.image3 {
    float:left;
    width: 630px;
    height: 360px;
    margin-left: 190px;
    margin-top: -365px;
}

.image4 img {
    float:left;
    width: 360px;
    height: 245px;
}

.image5 img {
    float:right;
    width: 440px;
    height: 440px;
    margin-right: -20px;
}

.image6 img {
    float: left;
    width: 360px;
    height: 185px;
    margin-left: 5px;
}